<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RevatureProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeViewServlet</display-name>
    <servlet-name>EmployeeViewServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewServlet</servlet-name>
    <url-pattern>/EmployeeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewServlet</display-name>
    <servlet-name>ManagerViewServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewServlet</servlet-name>
    <url-pattern>/ManagerViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadLoginFragmentServlet</display-name>
    <servlet-name>LoadLoginFragmentServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadLoginFragmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLoginFragmentServlet</servlet-name>
    <url-pattern>/LoadLoginFragmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadLogoutFragmentServlet</display-name>
    <servlet-name>LoadLogoutFragmentServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadLogoutFragmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLogoutFragmentServlet</servlet-name>
    <url-pattern>/LoadLogoutFragmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUserServlet</display-name>
    <servlet-name>LogoutUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUserServlet</servlet-name>
    <url-pattern>/LogoutUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadTopFragment</display-name>
    <servlet-name>LoadTopFragment</servlet-name>
    <servlet-class>com.revature.servlets.LoadTopFragment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadTopFragment</servlet-name>
    <url-pattern>/LoadTopFragment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadLoggedInIndicatorServlet</display-name>
    <servlet-name>LoadLoggedInIndicatorServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadLoggedInIndicatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLoggedInIndicatorServlet</servlet-name>
    <url-pattern>/LoadLoggedInIndicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeesServlet</display-name>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/ViewEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequestsServlet</display-name>
    <servlet-name>ViewPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequestsServlet</servlet-name>
    <url-pattern>/ViewPendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedRequestsServlet</display-name>
    <servlet-name>ViewResolvedRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedRequestsServlet</servlet-name>
    <url-pattern>/ViewResolvedRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeProfileServlet</display-name>
    <servlet-name>ViewEmployeeProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeProfileServlet</servlet-name>
    <url-pattern>/ViewEmployeeProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequestsByEmployee</display-name>
    <servlet-name>ViewPendingRequestsByEmployee</servlet-name>
    <servlet-class>com.revature.servlets.ViewPendingRequestsByEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequestsByEmployee</servlet-name>
    <url-pattern>/ViewPendingRequestsByEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedRequestsByEmployeeServlet</display-name>
    <servlet-name>ViewResolvedRequestsByEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewResolvedRequestsByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedRequestsByEmployeeServlet</servlet-name>
    <url-pattern>/ViewResolvedRequestsByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadReimbursementFormServlet</display-name>
    <servlet-name>LoadReimbursementFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadReimbursementFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadReimbursementFormServlet</servlet-name>
    <url-pattern>/LoadReimbursementFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReimbursementServlet</display-name>
    <servlet-name>CreateReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReimbursementServlet</servlet-name>
    <url-pattern>/CreateReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadProcessedFragmentServlet</display-name>
    <servlet-name>LoadProcessedFragmentServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadProcessedFragmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProcessedFragmentServlet</servlet-name>
    <url-pattern>/LoadProcessedFragmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeNameServlet</display-name>
    <servlet-name>GetEmployeeNameServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeeNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeNameServlet</servlet-name>
    <url-pattern>/GetEmployeeNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestsByEmployeeServlet</display-name>
    <servlet-name>ViewRequestsByEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewRequestsByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestsByEmployeeServlet</servlet-name>
    <url-pattern>/ViewRequestsByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadViewRequestsFragmentServlet</display-name>
    <servlet-name>LoadViewRequestsFragmentServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadViewRequestsFragmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadViewRequestsFragmentServlet</servlet-name>
    <url-pattern>/LoadViewRequestsFragmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeInformationServlet</display-name>
    <servlet-name>UpdateEmployeeInformationServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateEmployeeInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInformationServlet</servlet-name>
    <url-pattern>/UpdateEmployeeInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadUpdateFormServlet</display-name>
    <servlet-name>LoadUpdateFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadUpdateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUpdateFormServlet</servlet-name>
    <url-pattern>/LoadUpdateFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadResolutionPanelServlet</display-name>
    <servlet-name>LoadResolutionPanelServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadResolutionPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResolutionPanelServlet</servlet-name>
    <url-pattern>/LoadResolutionPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveRequestsServlet</display-name>
    <servlet-name>ResolveRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlets.ResolveRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveRequestsServlet</servlet-name>
    <url-pattern>/ResolveRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadProfileTableServlet</display-name>
    <servlet-name>LoadProfileTableServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadProfileTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProfileTableServlet</servlet-name>
    <url-pattern>/LoadProfileTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadResolvedEmployeePanelServlet</display-name>
    <servlet-name>LoadResolvedEmployeePanelServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadResolvedEmployeePanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResolvedEmployeePanelServlet</servlet-name>
    <url-pattern>/LoadResolvedEmployeePanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadViewEmployeePanelServlet</display-name>
    <servlet-name>LoadViewEmployeePanelServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadViewEmployeePanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadViewEmployeePanelServlet</servlet-name>
    <url-pattern>/LoadViewEmployeePanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAllPendingServlet</display-name>
    <servlet-name>LoadAllPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadAllPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllPendingServlet</servlet-name>
    <url-pattern>/LoadAllPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAllResolvedServlet</display-name>
    <servlet-name>LoadAllResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadAllResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllResolvedServlet</servlet-name>
    <url-pattern>/LoadAllResolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadRequestsBySingleEmployeeServlet</display-name>
    <servlet-name>LoadRequestsBySingleEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoadRequestsBySingleEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadRequestsBySingleEmployeeServlet</servlet-name>
    <url-pattern>/LoadRequestsBySingleEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>